@model IEnumerable<SoleStride.Models.Shoes>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShoesName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkuId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShoesGender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShoesSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShoesColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalePercentage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.ShoesName)
            </td>
            <td>
                @Html.DisplayFor(model => item.SkuId)
            </td>
            <td>
                @Html.DisplayFor(model => item.Category)
            </td>
            <td>
                @Html.DisplayFor(model => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(model => item.ShoesGender)
            </td>
            <td>
                @Html.DisplayFor(model => item.ShoesSize)
            </td>
            <td>
                @Html.DisplayFor(model => item.ShoesColor)
            </td>
            <td>
                @Html.DisplayFor(model => item.Material)
            </td>
            <td>
                @Html.DisplayFor(model => item.Description)
            </td>
            <td>
                @Html.DisplayFor(model => item.Price)
            </td>
            <td>
                @Html.DisplayFor(model => item.SalePercentage)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
